<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Google Wikipedia Test Suite">
    <test name="Google Wikipedia Test Cases">
        <classes>
            <class name="cucumberRunner.CucumberTestRunner"></class>
        </classes>
    </test>
</suite>